@font-face {
  font-family: "Arita-buri-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #c9b274;
}

/* reset */

html {
  font-size: 16px;
}

body {
  background: #000;
  font-family: "Arita-buri-SemiBold";
  font-size: 0.75rem;
  color: #c9b274;
}

/* header */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 4%;
  width: 100%;
  height: 4.25rem;
  z-index: 200;
  background: #000 url(../img/border_homeSlider.png) no-repeat center bottom;
}

.lt-header {
  position: relative;
}

.menu_wrap {
  z-index: 200;
  position: fixed;
  width: 50%;
  height: 100%;
  padding-left: 3%;
  background-color: #000;
}

.menu_top {
  font-size: 18px;
}

.menu_top li {
  padding: 18px;
}

.menu_top li:hover {
  background-color: #222222;
}

.menu_bottom {
  font-size: 14px;
  padding-left: 12px;
  padding-top: 40px;
}

.menu_bottom li {
  padding: 10px;
}

.menu_bottom li:hover {
  background-color: #222222;
}

.menu_num {
  margin-top: 40px;
}

.nav_icon {
  display: flex;
}

.burger-icon {
  display: block;
  background: url(../img/header-menu.svg) 100% no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.search-icon {
  display: block;
  background: url(../img/headerSearch.svg) 100% no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.75rem;
}

.ct-header img {
  width: 10.63rem;
}

.cart-icon {
  display: block;
  background: url(../img/headerBag.svg) 100% no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

/* main-top */

main {
  padding: 0 4%;
}

.top_video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video_con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.history_wrap {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

.history_box {
  text-align: center;
  align-items: center;
}

.history_btn {
  border: 0.125rem solid #544928;
  padding: 0.5rem 2rem;
  transition: all 0.3s linear 0s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.history_btn:hover {
  font-size: 1.125rem;
  background: #c9b274;
  color: #000;
}

/* main_con */

video {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.main_con01 {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.main_con01 > a > img {
  max-width: 100%;
}

.con01_wrap {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

.con01_box {
  text-align: center;
  align-items: center;
}

.con01_btn {
  border: 0.125rem solid #544928;
  padding: 0.5rem 4rem;
  transition: all 0.3s linear 0s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.con01_btn:hover {
  font-size: 1.125rem;
  background: #c9b274;
  color: #000;
}

.con02_wrap {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

.con02_box {
  text-align: center;
  align-items: center;
}

.con02_btn {
  border: 0.125rem solid #544928;
  padding: 0.5rem 3.125rem;
  transition: all 0.3s linear 0s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.con02_btn:hover {
  font-size: 1.125rem;
  background: #c9b274;
  color: #000;
}

.main_con02 > a > img {
  max-width: 100%;
}

.con03_wrap {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

.con03_box {
  text-align: center;
  align-items: center;
}

.con03_btn {
  border: 0.125rem solid #544928;
  padding: 0.5rem 4rem;
  transition: all 0.3s linear 0s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.con03_btn:hover {
  font-size: 1.125rem;
  background: #c9b274;
  color: #000;
}

.con04_wrap {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

.con04_box {
  text-align: center;
  align-items: center;
}

.con04_btn {
  border: 0.125rem solid #544928;
  padding: 0.5rem 3.125rem;
  transition: all 0.3s linear 0s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.con04_btn:hover {
  font-size: 1.125rem;
  background: #c9b274;
  color: #000;
}

/* text */

.info_text {
  justify-content: center;
  background: url(../img/border_catBox.png) no-repeat center top;
  padding-top: 1.8rem;
  padding-bottom: 1.6rem;
  margin-top: 4rem;
  text-align: center;
  font-size: 1rem;
  color: #ccc;
  line-height: 1.125rem;
}

/* info-more */

.info_more {
  display: flex;
  overflow: hidden;
  justify-content: center;
  background: url(../img/border_catBox.png) no-repeat center top;
  padding-top: 3.25rem;
}

.info_more > a > img {
  max-width: 100%;
}

.more_wrap {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

.more_box {
  text-align: center;
  align-items: center;
}

.more_btn {
  border: 0.125rem solid #544928;
  padding: 0.5rem 4rem;
  transition: all 0.3s linear 0s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.more_btn:hover {
  font-size: 1.125rem;
  background: #c9b274;
  color: #000;
}

/* footer */

footer {
  padding: 4%;
}

.shop_info {
  font-size: 0.875rem;
  text-align: center;
  line-height: 3.125rem;
  margin-bottom: 3rem;
}

.country {
  display: inline-block;
  border-bottom: 0.0625rem solid #c9b274;
  line-height: 1rem;
  cursor: pointer;
}

/* news */

.news_box {
  text-align: center;
  font-size: 1.25rem;
  background: url(../img/border_footer.png) no-repeat center bottom;
  padding-bottom: 6.063rem;
}

.news_box > form > p {
  font-size: 1rem;
  padding-top: 2.625rem;
}

.news_email {
  padding-top: 1rem;
  outline: none;
  border: none;
  background-color: black;
  border-bottom: 0.0625rem solid #c9b274;
  color: #c9b274;
  font-family: "Arita-buri-SemiBold";
  font-size: 1rem;
  width: 50%;
  text-align: center;
}

.email_submit {
  padding-top: 1.5rem;
}

.submit_btn {
  appearance: none;
  border-radius: none;
  outline: none;
  background-color: black;
  color: #c9b274;
  padding: 0.5rem 1.5rem;
  border: 0.125rem solid #544928;
  font-size: 0.875rem;
  font-family: "Arita-buri-SemiBold";
  cursor: pointer;
  transition: all 0.3s linear 0s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.submit_btn:hover {
  font-size: 1.125rem;
  background: #c9b274;
  color: #000;
}

/* sns */

.sns_box {
  padding: 1.625rem 0;
  text-align: center;
  font-size: 1.125rem;
}

.sns_btn {
  padding: 1.625rem 0;
}

.sns_btn > a {
  padding: 0.75rem;
}

.sns_insta {
  display: inline-block;
  background: url(../img/inst.png) no-repeat center;
  width: 2.25rem;
  height: 2.375rem;
}

.sns_twt {
  display: inline-block;
  background: url(../img/social-twitter-footer.png) no-repeat center;
  width: 2.563rem;
  height: 2.125rem;
}

.sns_fb {
  display: inline-block;
  background: url(../img/social-facebook-footer.png) no-repeat center;
  width: 1.188rem;
  height: 2.375rem;
}

.sns_yt {
  display: inline-block;
  background: url(../img/youtube.png) no-repeat center;
  width: 3.438rem;
  height: 2.375rem;
}

/* address */

address {
  text-align: center;
  color: #ccc;
}

/* @media */

@media (min-width: 1024px) {
  .menu_wrap {
    width: 20%;
  }

  main {
    padding: 0% 8%;
  }

  .main_top {
    display: flex;
    padding-top: 3rem;
  }

  .top01 {
    width: 50%;
    padding-right: 1.5rem;
  }

  .top02 {
    width: 50%;
    padding-left: 1.5rem;
  }

  .main_bot {
    display: flex;
    padding-top: 3rem;
  }

  .bot01 {
    width: 50%;
    padding-right: 1.5rem;
  }

  .bot02 {
    width: 50%;
    padding-left: 1.5rem;
  }
}

.scrolltop {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 1030;
  font-size: 1.875rem;
  color: #868e96;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}
.scrolltop:hover,
.scrolltop:focus {
  color: #c9b274;
  transition: all 0.5s ease-in-out;
}
